.reverse-btn{
    background-image: url("https://cdn-icons-png.flaticon.com/128/3833/3833315.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1rem;
}